#ENV TEST
LINK_GIST=https://gist.github.com
LINK_GIT=https://github.com/login

#LOGIN USING YOUR ACCOUNT
USERNAME=test@gmail.com
PASSWORD=12312312321
GIST_DESCRIPTION=Shopee Automation Test
GIST_FILENAME=Shopee Testing 
GIST_CONTENT=Lorem Ipsum Dolor Sit Amet
GIST_UPDATE_DESCRIPTION=update update update
GIST_UPDATE_FILENAME=Shopee testing update
GIST_UPDATE_CONTENT=shopee ipsum dolor sit amet
